
# ibus - input method
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx

# screen rotator
export DEFAULT_AUTO_ROTATION_OFF=true

# ================================================
# local env
# ================================================

if [ -f ~/.xprofile.local ]; then
  . ~/.xprofile.local
fi

# ================================================
# for cron/udev scripts to get X environments
# ================================================

export XENV_SUPPLIED=true
env | sed 's/^/export /' > "/tmp/.x$(whoami)-env"
# use this helper to run scripts that require X environments:
# /home/pastleo/.bin/with-xenv /path/to/script
