
# ibus - input method
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx

# screen rotator
export DEFAULT_AUTO_ROTATION_OFF=true

# ================================================
# local env
# ================================================

if [ -f ~/.x-local-env ]; then
    source ~/.x-local-env
fi
