#!/usr/bin/env xdg-open
[Desktop Entry]
Name=PhotoQt Standalone
GenericName=Image Viewer
Comment=View and manage images
Exec=photoqt --standalone %f
Icon=photoqt
Type=Application
Terminal=false
Categories=Graphics;Viewer;
MimeType=image/bmp;image/gif;image/jp2;video/x-mng;image/vnd.microsoft.icon;image/x-win-bitmap;image/x-icns;image/jpeg;image/png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/svg+xml;image/tiff;image/vnd.wap.wbmp;image/x-xbitmap;image/x-xpixmap;image/x-sgi;image/webp;image/x-eps;image/x-exr;image/openraster;image/vnd.zbrush.pcx;image/vnd.adobe.photoshop;image/x-tga;image/x-xcf;application/pdf;image/rle;image/x-cmu-raster;application/dicom;image/dpx;image/fax-g3;image/fits;image/x-jng;application/x-mif;image/x-photo-cd;image/x-pict;audio/vnd.dts.hd;text/x-mpsub;image/x-sun-raster;application/x-wpg;image/x-xwindowdump;image/x-sony-arw;image/x-sony-sr2;image/x-canon-crw;image/x-canon-cr2;image/x-kodak-dcr;image/x-kodak-kdc;image/x-adobe-dng;image/x-kde-raw;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-fuji-raf;image/x-panasonic-rw2;image/x-panasonic-rw;image/x-sigma-x3f
