#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Exec=sh -c "gksudo /bin/systemctl restart synergy@$USER"
Name=Start Synergy Service
GenericName=Start Synergy Service
Comment=Start Synergy Service
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;System;
Icon=synergy
