[Desktop Entry]
Version=1.0
Exec=sudo /bin/systemctl stop sshd
Name=Stop SSH Service
GenericName=Stop SSH Service
Comment=Stop SSH Service
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;System;
Icon=network-card
