#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment=Synergy Control Panel
Exec=/usr/bin/synergy-config
GenericName=Synergy Control Panel
Icon=synergy
Keywords=keyboard;mouse;sharing;network;share;
Name=Synergy
NoDisplay=false
Path[$e]=/usr/bin
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
