#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Virtual Machine Manager (via gksudo)
Comment=Manage virtual machines via gksudo
Icon=virt-manager
Exec=gksudo "sh -c 'systemctl start libvirtd; virt-manager'"
Type=Application
Terminal=false
Categories=System;
